.formContainer {
  background-color: #fb055a;
  margin-left: 60px;
  margin-top: 25px;
  border-radius: 10px;
  text-align: center;
}

.radio-container {
  display: block !important;
  padding-left: 15px;
}

.form-label {
  margin-top: 4px;
  color: white;
  font-size: 25px;
  width: 200px;
}

.input-field {
  color: white;
  width: 200px;
  height: 50px;
  background-color: white;
}

.form-button {
  width: 300px;
  height: 65px;
  color: #fb055a !important;
  background-color: white !important;
  border-radius: 50px !important;
}
